.login-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.login-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.login-section h1{
    font-size: 25px;
}
.login-section input{
    /* border: none; */
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition-duration: 0.5s;
}
.login-section input:hover{
    box-shadow: 8px 8px 8px rgb(70, 70, 70);
}
.login-section button{
    border: none;
    padding: 5px 15px 5px 15px;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    background-color: rgba(17, 196, 241, 0.69);
    transition-duration: 0.5s;
}
.login-section button:hover{
box-shadow: 5px 5px 5px rgb(0, 0, 0);
color: rgb(0, 0, 0);
/* transform: rotateX(360deg); */
}

.login-section label{
    font-weight: 600;
}

.login-section a{
    text-decoration: none;
    color: black;
}